/**/node_modules
/**/*.log
/**/*.log.*


# ignore generated .js & .map files
# i'm sure this will eventually bite me
/web/**/*.js
/web/**/*.map
# since we're using less for everything, no need to save the css
/web/**/*.css


# server build files
/server/build