<div class="centered-80">
  <div *ngIf="(action != 'create')">
    <h2>Profile for {{user.userName}}</h2>
  </div>
  <div class="message-box" *ngIf="message">
    <h4>{{message}}</h4>
  </div>
  <div *ngIf="(action == 'create')">
    <h2>Create New User</h2>
  </div>
  <div>
    <table class="spacious-key-value">
      <!--
      <tr *ngIf="(action != 'create')">
        <td class="key">
          <label>id: </label>
        </td>
        <td>
          {{user.id}}
        </td>
      </tr>
      -->
      <tr>
        <td class="key">
          user name: 
        </td>
        <td [hidden]="(action === 'view')" class="value">
          <input type="text" [(ngModel)]="user.userName" placeholder="user name" #un="ngModel"/>
        </td>
        <td [hidden]="(action !== 'view')" class="value">
          {{user.userName}}
        </td>
      </tr>

      <tr [hidden]="!this.isNotViewOnlyForThisUser()">
        <td class="key">
          password: 
        </td>
        <td class="value">
          <input type="password" [(ngModel)]="user.password" #pw="ngModel" />
        </td>
      </tr>

      <tr [hidden]="!pw.dirty">
        <td class="key">
          confirm password: 
        </td>
        <td class="value">
          <input type="password" [(ngModel)]="user.confirmPassword" placeholder="confirm password" />
        </td>
      </tr>

      <tr>
        <td class="key">
          email address: 
        </td>
        <td [hidden]="(action === 'view')" class="value">  
          <input type="text" [(ngModel)]="user.emailAddress" placeholder="email address" #ema="ngModel"/>
        </td>

        <td [hidden]="(action !== 'view')" class="value">
          {{user.emailAddress}}
        </td>
      </tr>

      <tr *ngIf="this.currentUserService.currentUser && this.currentUserService.currentUser.isSuperUser">
        <td class="key">
          <input type="checkbox" id="super-user" [(ngModel)]="user.isSuperUser" />
        </td>
        <td class="value">
          Super User
        </td>
      </tr>

    </table>

  </div>
  <br>

  <br>
  <div *ngIf="(action == 'edit')">
    <button [disabled]="!(un.dirty || ema.dirty || (pw.dirty && user.password === user.confirmPassword))"(click)="updateUser()">Update</button>
  </div>
  <div *ngIf="(action == 'create')">
    <button (click)="createNewUser()">Create</button>
  </div>





</div>