<div class="centered-60">

    <h2>Login</h2>


  <div class="message-box" *ngIf="message">
    <h4>{{message}}</h4>
  </div>  

  <div>
    <table class="spacious-key-value" >

      <tr>
        <td class="key">
          user name: 
        </td>
        <td class="value">
          <input type="text" [(ngModel)]="userName" placeholder="user name"/>
        </td>
      </tr>

      <tr>
        <td class="key">
          password: 
        </td>
        <td class="value">
          <input type="text" [(ngModel)]="password" placeholder="password"/>
        </td>
      </tr>

    </table>

  </div>

  <br>  

  <div>
    <button [disabled]="!userName || !password"  (click)="login()">Login</button>
  </div>
  
  <br>
  <br>
  <br>
  <br>
  <a [routerLink]="['/user/create']">CREATE A NEW ACCOUNT</a>
</div>