button {
  background: royalblue;
}
div.header {
  background: white;
  vertical-align: middle;
  height: 100px;
}
div.sub-header-left {
  float: left;
  width: 90px;
  height: 90px;
  /* background: lightblue; */
  border: 1px solid  white;
  margin: 4;
}
div.sub-header-center {
  float: left;
  color: gray;
  height: 60px;
  line-height: 60px;
  font-size: 1.7em;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  /* background: lightgreen; */
}
div.sub-header-right {
  float: right;
  height: 80px;
  width: 150px;
  padding-top: 20px;
  padding-right: 20px;
  font-size: 1em;
  color: lightgrey;
  text-align: right;
  /* background: lightpink; */
}
div.sub-header-right .sign-in {
  height: 60px;
  line-height: 60px;
  /* background: lightseagreen;  */
}
div.sub-header-right .sign-in a {
  font-size: .9em;
}
div.sub-header-right .username {
  height: 20px;
  padding-top: 0px;
  /* background: lightseagreen; */
}
div.sub-header-right .user-actions {
  padding-top: 10px;
  /* background: lightblue; */
}
div.sub-header-right .user-actions a {
  font-size: .7em;
}
div.navigation {
  width: 200px;
  float: left;
  background: lightsalmon;
}
div.content {
  text-align: center;
  float: left;
  margin-left: 12em;
}
