<div style="text-align: center">
  <div class="header">
    <div class="sub-header-left">
      Image Coming Here Soon!
    </div>
    <div class="sub-header-center">
      Title for a New Application
    </div>
    <div class="sub-header-right">
      <p *ngIf=(this.currentUserService.currentUser)>

        Welcome {{this.currentUserService.currentUser.userName}}!
        <br>
        <a [routerLink]="['/logout']">Logout</a>
      </p>
      <p *ngIf=(!this.currentUserService.currentUser)>
        <br>
        <a [routerLink]="['/login']">Login</a>
      </p>
    </div>
    <br style="clear:both" />
  </div>
  <br>
  <div>
    <div class="navigation">
      <label> Select a User by Id: </label>
      <br>
      <input [(ngModel)]="displayedId" placeholder="id" />
      <br>
      <button (click)="editDetails()">Edit Details</button>
    </div>
    <div class="content" style="text-align: center">
      <router-outlet>
      </router-outlet>
    </div>
  </div>
</div>