<div style="text-align: center">
  <div class="header">
    <div class="sub-header-left">
      <img src="/resources/images/wolf-silhouette.png" height="100%">
    </div>
    <div class="sub-header-center">
      Lorem Ipsum Dolor sit Amet
    </div>
    <div class="sub-header-right">
      <div *ngIf=(this.currentUserService.currentUser)>
        <div class='username'>
          {{this.currentUserService.currentUser.userName}}
        </div>
        <div class='user-actions'>
          <a [routerLink]="['/user/' + this.currentUserService.currentUser.id]">MY PROFILE</a>
          <br>
          <a [routerLink]="['/logout']">LOGOUT</a>
          <br>
        </div>
      </div>
      <div class="sign-in" *ngIf=(!this.currentUserService.currentUser)>

        <a [routerLink]="['/login']">SIGN IN</a>

      </div>
    </div>
    <br style="clear:both" />
  </div>
  <br>
  <div>
    <div class="navigation">
      <label> Select a User by Id: </label>
      <br>
      <input [(ngModel)]="displayedId" placeholder="id" />
      <br>
      <button (click)="editDetails()">Edit Details</button>
    </div>
    <div class="content">
      <router-outlet>
      </router-outlet>
    </div>
  </div>
</div>