/* #449bc7 #07b */
/* wolfe-software #0099da */
div.header {
  color: #f2f2f5;
  background: #449bc7;
  vertical-align: middle;
  height: 100px;
}
div.sub-header-left {
  float: left;
  width: 90px;
  height: 90px;
  /* background: lightblue; */
  border: 1px solid  white;
  margin: 4;
}
div.sub-header-center {
  float: left;
  height: 60px;
  line-height: 60px;
  font-size: 1.7em;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  /* background: lightgreen; */
}
div.sub-header-right {
  float: right;
  height: 80px;
  width: 150px;
  padding-top: 20px;
  padding-right: 20px;
  font-size: 1em;
  text-align: right;
  /* background: lightpink; */
}
div.sub-header-right a {
  color: #f2f2f5;
}
div.sub-header-right a:hover {
  color: white;
}
div.sub-header-right .sign-in {
  height: 60px;
  line-height: 60px;
  /* background: lightseagreen;  */
}
div.sub-header-right .sign-in a {
  font-size: .9em;
}
div.sub-header-right .username {
  height: 20px;
  padding-top: 0px;
  /* background: lightseagreen; */
}
div.sub-header-right .user-actions {
  padding-top: 10px;
  /* background: lightblue; */
}
div.sub-header-right .user-actions a {
  font-size: .7em;
}
div.navigation {
  width: 200px;
  float: left;
  /* background: @primary-color-lighter; */
}
div.content {
  margin-left: 200px;
  /* background: @our-gray-light; */
}
div.primary-lightest {
  float: left;
  width: 10%;
  height: 100%;
  background-color: #badaea;
}
div.primary-lighter {
  float: left;
  width: 10%;
  height: 100%;
  background-color: #92c5df;
}
div.primary-light {
  float: left;
  width: 10%;
  height: 100%;
  background-color: #6bb0d3;
}
div.primary {
  float: left;
  width: 40%;
  height: 100%;
  background-color: #449bc7;
}
div.primary-dark {
  float: left;
  width: 10%;
  height: 100%;
  background-color: #388eba;
}
div.primary-darker {
  float: left;
  width: 10%;
  height: 100%;
  background-color: #327fa6;
}
div.primary-darkest {
  float: left;
  width: 10%;
  height: 100%;
  background-color: #2c7093;
}
div.complementary-lightest {
  float: left;
  width: 10%;
  height: 100%;
  background-color: #fcf7f5;
}
div.complementary-lighter {
  float: left;
  width: 10%;
  height: 100%;
  background-color: #eacaba;
}
div.complementary-light {
  float: left;
  width: 10%;
  height: 100%;
  background-color: #d99d7f;
}
div.complementary {
  float: left;
  width: 40%;
  height: 100%;
  background-color: #c77044;
}
div.complementary-dark {
  float: left;
  width: 10%;
  height: 100%;
  background-color: #ba6338;
}
div.complementary-darker {
  float: left;
  width: 10%;
  height: 100%;
  background-color: #a65932;
}
div.complementary-darkest {
  float: left;
  width: 10%;
  height: 100%;
  background-color: #934e2c;
}
div.our-gray-lightest {
  float: left;
  width: 10%;
  height: 100%;
  background-color: #f2f2f5;
}
div.our-gray-lighter {
  float: left;
  width: 10%;
  height: 100%;
  background-color: #ccccd9;
}
div.our-gray-light {
  float: left;
  width: 10%;
  height: 100%;
  background-color: #a6a6bc;
}
div.our-gray {
  float: left;
  width: 40%;
  height: 100%;
  background-color: #8080a0;
}
div.our-gray-dark {
  float: left;
  width: 10%;
  height: 100%;
  background-color: #717195;
}
div.our-gray-darker {
  float: left;
  width: 10%;
  height: 100%;
  background-color: #656588;
}
div.our-gray-darkest {
  float: left;
  width: 10%;
  height: 100%;
  background-color: #5b5b79;
}
