<div style="text-align: center">
  <div class="header">
    <div class="sub-header-left">
      <img src="/assets/images/wolf-silhouette.png" height="100%">
    </div>
    <div class="sub-header-center">
      Lorem Ipsum Dolor sit Amet
    </div>
    <div class="sub-header-right">
      <div *ngIf=(this.currentUserService.currentUser)>
        <div class='username'>
          {{this.currentUserService.currentUser.userName}}
        </div>
        <div class='user-actions'>
          <a [routerLink]="['/user/' + this.currentUserService.currentUser.id]">MY PROFILE</a>
          <br>
          <a [routerLink]="['/logout']">LOGOUT</a>
          <br>
        </div>
      </div>
      <div class="sign-in" *ngIf=(!this.currentUserService.currentUser)>

        <a [routerLink]="['/login']">SIGN IN</a>

      </div>
    </div>
    <div style="clear:both"> </div>
  </div>
  <br>
  <div>

    <div class="navigation">
      <h2> Navigation Div </h2>
      <label> Select a User by Id: </label>
      <br>
      <input [(ngModel)]="displayedUserId" placeholder="user id" />
      <br>
      <br>
      <button [disabled]="!this.currentUserService.currentUser" (click)="editUserDetails()">Edit User</button>
      <br>
      <br>
      <input [(ngModel)]="displayedLeagueId" placeholder="league id" />
      <br>
      <br>
      <button [disabled]="!this.currentUserService.currentUser" (click)="editLeagueDetails()">Edit League</button>
      <br>
      <br>
      <button [disabled]="!this.currentUserService.currentUser" (click)="createNewLeague()">Create League</button>
      <br>
      <br>
      <button [disabled]="this.currentUserService.currentUser" (click)="rapidLogin()">Rapid Login</button>
    </div>

    <div class="content">
      <router-outlet>
      </router-outlet>
    </div>
    <br style="clear:both" />
  </div>
  <br>
  <!-- Temporary divs for color evaluation

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div style="height:30px">
    <div class="primary-lightest"></div>
    <div class="primary-lighter"></div>
    <div class="primary-light"></div>
    <div class="primary"></div>
    <div class="primary-dark"></div>
    <div class="primary-darker"></div>
    <div class="primary-darkest"></div>
  </div>
  <div style="clear:both"></div>
  <div style="height:30px"></div>
  <div style="height:30px">
    <div class="our-gray-lightest"></div>
    <div class="our-gray-lighter"></div>
    <div class="our-gray-light"></div>
    <div class="our-gray"></div>
    <div class="our-gray-dark"></div>
    <div class="our-gray-darker"></div>
    <div class="our-gray-darkest"></div>
  </div>
  <div style="clear:both"></div>
  <div style="height:30px"></div>
  <div style="height:30px">
    <div class="complementary-lightest"></div>
    <div class="complementary-lighter"></div>
    <div class="complementary-light"></div>
    <div class="complementary"></div>
    <div class="complementary-dark"></div>
    <div class="complementary-darker"></div>
    <div class="complementary-darkest"></div>
  </div>
-->
</div>