/* #449bc7 #07b */
/* wolfe-software #0099da */
/* Used inside a table when trying to make this stand out */
table {
  padding-top: 0px;
  padding-bottom: 10px;
}
td.heading {
  font-size: 120%;
  font-weight: bold;
  text-align: center;
  padding-bottom: 5px;
}
button.delete {
  outline: 0px;
  width: 100%;
  line-height: 9px;
  font-size: 9px;
  font-weight: bold;
  height: 16px;
  background: firebrick;
  background-color: firebrick;
  border-top: 1px solid #8080a0;
  border-left: 1px solid #8080a0;
  border-bottom: 1px solid #ccccd9;
  border-right: 1px solid #ccccd9;
}
