<div class="centered-80">
  <div *ngIf="(action !== 'create')">
    <h2>Profile for {{league.leagueName}}</h2>
  </div>
  <div class="message-box" *ngIf="message">
    <h4>{{message}}</h4>
  </div>
  <div *ngIf="(action === 'create')">
    <h1>Create New League</h1>
  </div>
  <div>
    <table class="key-value">

      <tr>
        <td class="key">
          <label> league name: </label>
        </td>
        <td>
          <input type="text" [(ngModel)]="league.leagueName" placeholder="league name" />
        </td>
      </tr>

      <tr>
        <td class="key">
          <label> description: </label>
        </td>
        <td>
          <input type="text" [(ngModel)]="league.description" placeholder="description" />
        </td>
      </tr>
    </table>

    <div class="two-column-container">
      <div class="left-column">
        <table class="layout">
          <tr>
            <td class="heading">Season</td>
          </tr>
          <tr *ngFor="let season of possibleSeasons">
            <td>
              <input type="radio" [(ngModel)]="league.seasonTypeIndex" [value]=season.id name="season-group" />{{season.name}}
            </td>
          </tr>
        </table>
      </div>
      <div class="right-column">
        <table class="layout">
          <tr>
            <td class="heading">League Type</td>
          </tr>
          <tr *ngFor="let leagueType of possibleLeagueTypes">
            <td>
              <input type="radio" [(ngModel)]="league.leagueTypeIndex" [value]=leagueType.id name="league-type-group" />{{leagueType.name}}
            </td>
          </tr>
        </table>
      </div>
  
    </div>
    <div *ngIf="(action === 'edit')">
      <button (click)="updateLeague()">Update</button>
    </div>
    <div *ngIf="(action === 'create')">
      <button (click)="createNewLeague()">Create</button>
    </div>

    <br>

  </div>
  <br>
  <div *ngIf="action === 'edit'" class="two-column-container">
    <div class="left-column-with-outline">
      <table class="layout">
        <tr>
          <td class="heading">Admins</td>
        </tr>
        <tr *ngFor="let admin of leagueAdmins">
          <td>
            <a [routerLink]="['/user/' + admin.id]">{{admin.userName}}</a>
          </td>
        </tr>
      </table>
      <button *ngIf="!adminBeingAdded" (click)="addAdmin()">Add Admin</button>
      <div *ngIf="adminBeingAdded">
        <selectUserDialog [title]="'Search Users'" [actionButtonName]="'Add Admin'" (cancelFunction)="onAdminCancel()" (actionFunction)="onAdminFound($event)" ></selectUserDialog>
      </div>
    </div>    
    <div class="right-column-with-outline">
      <table class="layout">
        <tr>
          <td class="heading">Players</td>
        </tr>
        <tr *ngFor="let player of leaguePlayers">
          <td>
            <a [routerLink]="['/user/' + player.id]">{{player.userName}}</a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>