/* Used inside a table when trying to make this stand out */
table {
  padding-top: 0px;
  padding-bottom: 10px;
}
td.heading {
  font-size: 120%;
  font-weight: bold;
  text-align: center;
  padding-bottom: 5px;
}
