@import "../../globals";

/* Used inside a table when trying to make this stand out */
table {
    padding-top: 0px;
    padding-bottom: 10px
}
td.heading {
    font-size: 1.1em;  
    font-weight: bold;
    text-align: center;
    padding-bottom: 5px;
}

button.delete {
  outline: 0px;
  width: 100%;
  line-height: 0.6em;
  font-size: 0.6em;
  font-weight: bold;
  height: 16px;
  background: firebrick;
  background-color: firebrick;
  border-top: 1px solid @our-gray;
  border-left: 1px solid @our-gray;
  border-bottom: 1px solid @our-gray-lighter;
  border-right: 1px solid @our-gray-lighter;
}
