<div class="centered-60">
  <div *ngIf="(action != 'create')">
    <h2>Profile for {{league.leagueName}}</h2>
  </div>
  <div class="message-box" *ngIf="message">
    <h4>{{message}}</h4>
  </div>
  <div *ngIf="(action == 'create')">
    <h1>Create New League</h1>
  </div>
  <div>
    <table class="key-value">
      <tr *ngIf="(action != 'create')">
        <td class="key">
          <label>id: </label>
        </td>
        <td>
          {{league.id}}
        </td>
      </tr>

      <tr>
        <td class="key">
          <label> league name: </label>
        </td>
        <td>
          <input type="text" [(ngModel)]="league.leagueName" placeholder="league name" />
        </td>
      </tr>

      <tr>
        <td class="key">
          <label> description: </label>
        </td>
        <td>
          <input type="text" [(ngModel)]="league.description" placeholder="description" />
        </td>
      </tr>
    </table>
    <!--
    <div>
      <br>
      <fieldset>
        <legend>Season Type</legend>
        <table class="layout">
          <tr *ngFor="let season of possibleSeasons">
            <td>
              <input type="radio" [(ngModel)]="league.seasonTypeIndex" [value]=season.id name="season-group"/>{{season.name}}
            </td>
          </tr>
        </table>
      </fieldset>
    </div>
    <div>
      <br>
      <fieldset>
        <legend>League Type</legend>
        <table class="layout">
          <tr *ngFor="let leagueType of possibleLeagueTypes">
            <td>
              <input type="radio" [(ngModel)]="league.leagueTypeIndex" [value]=leagueType.id  name="league-type-group"/>{{leagueType.name}}
            </td>
          </tr>
        </table>
      </fieldset>
    </div>
    -->
    <br>
    <table class="layout-with-outline">
      <tr><td class="heading">Season</td></tr>
      <tr *ngFor="let season of possibleSeasons">
        <td>
          <input type="radio" [(ngModel)]="league.seasonTypeIndex" [value]=season.id name="season-group" />{{season.name}}
        </td>
      </tr>
      <tr><td>&nbsp;</td></tr>
      <tr><td class="heading">League Type</td></tr>
      <tr *ngFor="let leagueType of possibleLeagueTypes">
        <td>
          <input type="radio" [(ngModel)]="league.leagueTypeIndex" [value]=leagueType.id name="league-type-group" />{{leagueType.name}}
        </td>
      </tr>
    </table>

  </div>
  <br>

  <div *ngIf="(action == 'edit')">
    <button (click)="updateLeague()">Update</button>
  </div>
  <div *ngIf="(action == 'create')">
    <button (click)="createNewLeague()">Create</button>
  </div>

</div>