@import "../../globals";


div.title-bar  {
    padding: 3px;
    border-radius: 0px;
    background-color: @primary-color-light;  
    color: white;
    text-align: center;
}

div.dialog-body {
    border-radius: 3px;
    background-color: @our-gray-lightest;
    color: @our-gray;
    text-align: center;
    padding: 10px;
}

div.error-message-box {
  width: 90%;
}

table {
  padding: 15px 0px;
}

button {
    font-size: .85em;
    width: 7em;
    height: 1.5em;
}