<div class="centered-80">
  <form #userDetailForm="ngForm">
    <div *ngIf="(action != 'create')">
      <h2>Profile for {{user.userName}}</h2>
    </div>
    <div class="happy-message-box" *ngIf="happyMessage">
      <h4>{{happyMessage}}</h4>
    </div>
    <div class="error-message-box" *ngIf="errorMessage">
      <h4>{{errorMessage}}</h4>
    </div>
    <div *ngIf="(action == 'create')">
      <h2>Create New User</h2>
    </div>
    <div>
      <table class="spacious-key-value">

        <tr>
          <td class="key">
            user name:
          </td>
          <td [hidden]="(action === 'view')" class="value">
            <input type="text" [(ngModel)]="user.userName" name="userName" placeholder="user name" #un="ngModel" />
          </td>
          <td [hidden]="(action !== 'view')" class="value">
            {{user.userName}}
          </td>
        </tr>

        <tr [hidden]="(action === 'view')">
          <td class="key">
            password:
          </td>
          <td class="value">
            <input type="password" [(ngModel)]="user.password" name="password" #pw="ngModel" placeholder="password"/>
          </td>
        </tr>

        <tr [hidden]="!pw.dirty">
          <td class="key">
            confirm password:
          </td>
          <td class="value">
            <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="confirm password" />
          </td>
        </tr>

        <tr [hidden]="!pw.dirty || confirmPassword === user.password">
          <td colspan="2">
            <div class="confirmation-differs">
              Confirmation password does not match.
            </div>
          </td>
        </tr>

        <tr [hidden]="!pw.dirty || confirmPassword !== user.password">
          <td colspan="2">
            <div class="confirmation-matches">
              Congrats!  Confirmation password matches.
            </div>
          </td>
        </tr>

        <tr>
          <td class="key">
            email address:
          </td>
          <td [hidden]="(action === 'view')" class="value">
            <input type="text" [(ngModel)]="user.emailAddress" name="emailAddress" placeholder="email address" #ema="ngModel" />
          </td>

          <td [hidden]="(action !== 'view')" class="value">
            {{user.emailAddress}}
          </td>
        </tr>

        <tr *ngIf="this.currentUserService.currentUser && this.currentUserService.currentUser.isSuperUser">
          <td class="key">
            <input type="checkbox" id="super-user" [(ngModel)]="user.isSuperUser" name="isSuperUser" />
          </td>
          <td class="value">
            Super User
          </td>
        </tr>

      </table>

    </div>


    <div *ngIf="(action == 'edit')">
      <button [disabled]="updateButtonShouldBeDisabled()" (click)="updateUser()">Update</button>
    </div>
    <div *ngIf="(action == 'create')">
      <button [disabled]="createButtonShouldBeDisabled()"(click)="createNewUser()">Create</button>
    </div>

    <br>
    <br>


    <table *ngIf="leaguesAsPlayer && leaguesAsPlayer[0]"class="columnar-data">
      <thead>
        <th colspan="3" class="overall-heading">Playing In:</th>
      </thead>
      <tbody>
        <tr *ngFor="let league of leaguesAsPlayer">
          <td>
            <a [routerLink]="['/league/' + league.id]">{{league.leagueName}}</a>
          </td>

          <td> {{retrieveSeasonFromPossibleSeasons(league.seasonId).seasonName}} </td>
          <td> {{leagueType[league.leagueTypeIndex].name}} </td>

        </tr>
      </tbody>
    </table>

    <br>
    <br>


    <table *ngIf="leaguesAsAdmin && leaguesAsAdmin[0]" class="columnar-data">
      <thead>
        <th colspan="3" class="overall-heading">Administrator for:</th>
      </thead>
      <tbody>
        <tr *ngFor="let league of leaguesAsAdmin">
          <td>
            <a [routerLink]="['/league/' + league.id]">{{league.leagueName}}</a>
          </td>
          <td> {{retrieveSeasonFromPossibleSeasons(league.seasonId).seasonName}} </td>
          <td> {{leagueType[league.leagueTypeIndex].name}} </td>
        </tr>
      </tbody>
    </table>

  </form>
</div>