@primary-color: #00A4D8; /* #449bc7 #07b */ /* wolfe-software #0099da */ /*BCA #00A4D8 */
@primary-color-light: lighten(@primary-color, 10%);
@primary-color-lighter: lighten(@primary-color-light, 10%);
@primary-color-lightest: lighten(@primary-color-lighter, 10%);
@primary-color-dark: darken(@primary-color, 5%);
@primary-color-darker: darken(@primary-color-dark, 5%);
@primary-color-darkest: darken(@primary-color-darker, 5%);
@complementary-color: spin(@primary-color,180);
@complementary-color-light: lighten(@complementary-color, 15%);
@complementary-color-lighter: lighten(@complementary-color-light, 15%);
@complementary-color-lightest: lighten(@complementary-color-lighter, 15%);
@complementary-color-dark: darken(@complementary-color, 5%);
@complementary-color-darker: darken(@complementary-color-dark, 5%);
@complementary-color-darkest: darken(@complementary-color-darker, 5%);
@our-gray: #8080a0;
@our-gray-light: lighten(@our-gray, 13%);
@our-gray-lighter: lighten(@our-gray-light, 13%);
@our-gray-lightest: lighten(@our-gray-lighter, 13%);
@our-gray-very-lightest: lighten(@our-gray-lightest, 3%);
@our-gray-dark: darken(@our-gray, 5%);
@our-gray-darker: darken(@our-gray-dark, 5%);
@our-gray-darkest: darken(@our-gray-darker, 5%);
@our-error-color: firebrick;
@our-happy-color: green;

