/* Master Styles */
body {
  color: darkslategray;
  font-family: "Roboto","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}
h1 {
  font-size: 250%;
}
h2, h3 {
  font-weight: lighter;
}
body {
}

div.message-box {
  width: 30em;
  margin: 0 auto;
  background: lemonchiffon;
  color: black;
  border-style: solid;
  border-width: .1em; 
}

table.key-value td {
  padding: .2em;
}

td.key {
  text-align: right;
}

