@import url(./globals.less);


/* Master Styles */
body, button, input {
  color: @our-gray;
  font-family: Lato,Helvetica,Arial,"Lucida Grande",sans-serif;
}


a {
  color: @primary-color;
}

a:hover {
  color:@primary-color-dark;
}

input[type=text], textarea {
  border: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: @our-gray-light;
}


input[type=text]:focus, textarea:focus {
  outline: 0;
  border: 0;
  border-bottom: 1px solid @our-gray-dark;
}

button {
  background: @primary-color;
  border:1px solid @primary-color;
  color: white;
  border-radius:5px;
  font-size: 1em;
  height: 2.5em;
  width: 10em;
}

/* Note: Place hover before disabled so that if a 
user hovers over a disabled button, disable will have priority */

button:hover {
  background: @primary-color-dark;
  border:0px solid @primary-color-dark;
  color: white;
}

button:disabled {
  background: @primary-color-lightest;
  border: 0px solid @primary-color-lightest;
  color: white;
}


button:active {
  background: @primary-color-darker;
  border:0px solid @primary-color-darker;
  color: white;
  /* transform: scale(0.99); */  
}

table {
  margin: 0 auto; // Assume that tables will always want to be centered in their contatining div
}

fieldset {
  margin: 0 auto;
  border: 1px solid @our-gray-lightest;
}

legend {
  text-align: left;
}

div.centered-60 {
  width: 60%;
  margin: 0 auto;
}

div.centered-80 {
  width: 80%;
  margin: 0 auto;
}

div.message-box {
  width: 30em;
  margin: 0 auto;
  background: @complementary-color;
  color: white;
  border-style: solid;
  border-width: .1em; 
}

div.left-column {
    float: left;
    width: 40%;
    padding: 0% 5%;  
}

div.right-column {
    float: right;
    width: 40%;
    padding: 0% 5%;  
}

div.clear{
    clear: both;
    width: 100%
}

table.key-value td {
  padding: .2em;
}

td.key {
  text-align: right;
}

table.layout {
  border: 0px;
}

table.layout-with-outline {
  border: 1px solid @our-gray-lightest;
  padding: 10 60;
}
