/* #449bc7 #07b */
/* wolfe-software #0099da */
/* Master Styles */
body,
button,
input,
textarea,
table {
  color: #8080a0;
  font-size: 1em;
  font-family: Lato, Helvetica, Arial, "Lucida Grande", sans-serif;
}
a {
  color: #449bc7;
}
a:hover {
  color: #388eba;
}
input[type=text],
input[type=password],
textarea {
  border: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #a6a6bc;
}
input[type=text]:focus,
input[type=password]:focus,
textarea:focus {
  outline: 0;
  border: 0;
  border-bottom: 1px solid #717195;
}
button {
  background: #449bc7;
  border: 1px solid #449bc7;
  color: white;
  border-radius: 5px;
  height: 2.5em;
  width: 10em;
}
/* Note: Place hover before disabled so that if a 
user hovers over a disabled button, disable will have priority */
button:hover {
  background: #388eba;
  border: 0px solid #388eba;
  color: white;
}
button:disabled {
  background: #badaea;
  border: 0px solid #badaea;
  color: white;
}
button:active {
  background: #327fa6;
  border: 0px solid #327fa6;
  color: white;
  /* transform: scale(0.99); */
}
table {
  margin: 0 auto;
}
fieldset {
  margin: 0 auto;
  border: 1px solid #f2f2f5;
}
legend {
  text-align: left;
}
div.centered-60 {
  width: 60%;
  margin: 0 auto;
}
div.centered-80 {
  width: 80%;
  margin: 0 auto;
}
div.message-box {
  width: 480px;
  border-radius: 3px;
  margin: 0 auto;
  background: #c77044;
  color: white;
  border-style: solid;
  border-width: .1em;
}
div.happy-message-box {
  width: 480px;
  border-radius: 3px;
  margin: 0 auto;
  background: green;
  color: white;
  border-style: solid;
  border-width: .1em;
}
div.error-message-box {
  width: 480px;
  border-radius: 3px;
  margin: 0 auto;
  background: firebrick;
  color: white;
  border-style: solid;
  border-width: .1em;
}
div.left-column {
  float: left;
  width: 40%;
  padding: 0% 5%;
}
div.right-column {
  float: right;
  width: 40%;
  padding: 0% 5%;
}
div.clear {
  clear: both;
  width: 100%;
}
table.spacious-key-value {
  width: 500px;
  margin: 20px auto;
}
table.spacious-key-value td.key {
  width: 200px;
  text-align: right;
  font-size: 110%;
  padding: 5px 4px;
}
table.spacious-key-value td.value {
  width: 300px;
  text-align: left;
  font-size: 110%;
  padding: 5px 4px;
}
table.key-value {
  margin: 0 auto;
}
table.key-value td {
  padding: .2em;
}
td.key {
  text-align: right;
}
table.layout {
  border: 0px;
}
table.layout-with-outline {
  border: 1px solid #f2f2f5;
  padding: 10 60;
}
table.columnar-data {
  border: 1px solid #f2f2f5;
  border-collapse: collapse;
}
table.columnar-data thead th.overall-heading {
  padding: 8px 10px;
  color: #656588;
  font-size: 110%;
  font-weight: normal;
  text-align: center;
}
table.columnar-data tbody tr:nth-child(even) {
  background-color: #f2f2f5;
}
table.columnar-data tbody tr:nth-child(odd) {
  background-color: #fbfbfc;
}
table.columnar-data td {
  padding: 2px 15px;
}
