@import url(./globals.less);


/* Master Styles */
body, button, input, textarea, table {
  color: @our-gray;
  font-size: 1em;
  font-family: Lato,Helvetica,Arial,"Lucida Grande",sans-serif;
}


a {
  color: @primary-color;
}

a:hover {
  color:@primary-color-dark;
}

input[type=text], input[type=password] {

  border: 0;
  width: 195px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: @our-gray-light;
}

input[type=text]:focus, input[type=password]:focus,  {
  outline: 0;
  border: 0;
  border-bottom: 1px solid @our-gray-dark;
}

textarea {
  background: white;
  border: 1px solid @our-gray-light;
  width: 195px;
  height: 60px;
  resize: none;
}

textarea:focus {
  outline: 0;
  border-color: @our-gray-dark;
}

textarea:disabled {
  border: 0px;
  background: @our-gray-lightest;
}

button {
  background: @primary-color;
  border:1px solid @primary-color;
  color: white;
  border-radius:5px;
  height: 2.5em;
  width: 10em;
}

/* Note: Place hover before disabled so that if a 
user hovers over a disabled button, disable will have priority */


button:hover {
  background: @primary-color-dark;
  border:0px solid @primary-color-dark;
  color: white;
}

button:disabled {
  background: @primary-color-lightest;
  border: 0px solid @primary-color-lightest;
  color: white;
}


button:active {
  background: @primary-color-darker;
  border:0px solid @primary-color-darker;
  color: white;
  /* transform: scale(0.99); */  
}

table {
  margin: 0 auto; // Assume that tables will always want to be centered in their contatining div
}

fieldset {
  margin: 0 auto;
  border: 1px solid @our-gray-lightest;
}

legend {
  text-align: left;
}

div.centered-60 {
  width: 60%;
  margin: 0 auto;
}

div.centered-80 {
  width: 80%;
  margin: 0 auto;
}

div.message-box {
  width: 480px;
  border-radius: 3px;
  margin: 0 auto;
  background: @complementary-color;
  color: white;
  border-style: solid;
  border-width: .1em; 
}

div.happy-message-box {
  width: 480px;
  border-radius: 3px;
  margin: 0 auto;
  background: @our-happy-color;
  color: white;
  border-style: solid;
  border-width: .1em; 
}

div.error-message-box {
  width: 480px;
  border-radius: 3px;
  margin: 0 auto;
  background: @our-error-color;
  color: white;
  border-style: solid;
  border-width: .1em; 
}

div.bordered {
  border: 1px solid @our-gray-lightest;
  padding: 20px;
}

div.two-column-container {
  width: 100%;
  display: inline-block;
}
div.left-column {
    float: left;
    width: 45%;
    padding: 0 2%; 
}

div.right-column {
    float: left;
    width: 45%;
    padding: 0 2%;  
}

div.buttonSizedEmptyDiv {

  height: 2.5em;
 
}
div.clear{
    clear: both;
}

table.spacious-key-value {
  width: 500px;
  margin: 20px auto;
}

table.spacious-key-value td.key  {
  width: 200px;
  text-align: right;
  font-size: 1em;
  padding: 5px 4px;
}

table.spacious-key-value td.value {
  width: 300px;
  text-align: left;
  font-size: 1em;
  padding: 5px 4px;
}


table.key-value {
  margin: 0 auto;
}

table.key-value td {
  padding: .2em;
}

td.key {
  text-align: right;
}

table.layout {
  border: 0px;
  padding: 10px;
}

table.layout-with-outline {
  border: 1px solid @our-gray-lightest;
  padding: 10px;
}

table.columnar-data {
  border: 1px solid @our-gray-lightest;
  border-collapse: collapse;
}

table.columnar-data thead th.overall-heading {
    padding: 8px 10px;
    color: @our-gray-darker;
    font-size: 1em;
    font-weight: normal;  
    text-align: center;
}

table.columnar-data tbody tr:nth-child(even){
  background-color: @our-gray-lightest;
}

table.columnar-data tbody tr:nth-child(odd){
  background-color: @our-gray-very-lightest;
}

table.columnar-data td{
  font-size: .7em;
  padding: 10px 15px;
}
